* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background-color: #faf8f4;
    justify-content: center;
    align-items: center;
}

.background-overlay {
    /*background-image: url('https://i.ibb.co/YDx5781/smart-removebg-preview.png');*/
    opacity: 0.2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(204, 204, 204, 1);
    border-bottom: 1px solid rgba(204, 204, 204, 1);
}

.head-container {
    background-color: #ffffff;
    position: relative;
    top: 0;
    width: 100vw;
    height: 10vh;
    box-shadow: 0 0 24px 0 rgba(66, 68, 90, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
}

.head-container p {
    margin: 0;
    flex: 0 1 auto;
}

.head-container h1 {
    margin-right: auto;
    text-align: left;
}

.buttons-container {
    display: inline-block;
}

.buttons-container form {
    display: inline;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #fc6505;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #f57d1b;
}

button:focus {
    outline: none;
}

.posts-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.post h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.post-description h3 {
    text-align: left;
}

.post p {
    overflow-wrap: break-word;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: left;
}

.post img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}
.post button {
    width: 100%;
}

.gallery-link {
    margin-top: 10px;
}

.gallery-link button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #fc6505;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.gallery-link button:hover {
    background-color: #f57d1b;
}

.post textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.post textarea:focus {
    outline: none;
    -webkit-box-shadow: inset 8px 8px 24px -24px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 8px 8px 24px -24px rgba(66, 68, 90, 1);
    box-shadow: inset 8px 8px 24px -24px rgba(66, 68, 90, 1);
}

.post button {
    width: auto;
    margin-top: 10px;
}

.comments-container {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
}

.comment {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.comment-header h1 {
    margin-bottom: 5px;
    font-size: 20px;
}

.comment p {
    font-size: 15px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-user {
    margin: 0;
    text-transform: uppercase;
}

.comment-timestamp {
    margin: 0;
    font-size: 0.9em;
    color: grey;
}

input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#popup-images {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

#popup-images img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    display: block;
}




#popup-pdfs {
    margin-top: 10px;
    justify-content: center;
    overflow: hidden;
    height: 100%;
}

#popup-pdfs img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: cover;
    border: none;
    overflow: hidden;
}

#popup-videos {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}

.post-header h1 {
    margin: 0;
    flex: 1;
    text-align: center;
}

.post-header h2 {
    margin: 0;
    flex: 2;
    text-align: center;
}

.post-header span {
    margin: 0;
    flex: 1;
    text-align: right;
}

.post-user {
    margin: 0;
    font-size: 1em;
}

.post-info {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

.post-timestamp {
    margin: 0;
    font-size: 0.9em;
    color: black;
}

.link-button {
    width: 100%;
}

.popup {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}



.popup-content input[type="text"],
.popup-content textarea,
.popup-content input[type="password"],
.popup-content input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease-in-out;
}

.popup-content input[type="text"]:focus,
.popup-content input[type="password"]:focus,
.popup-content textarea:focus {
        outline: none;
        box-shadow: inset 8px 8px 24px -24px rgba(66, 68, 90, 1);
}

.popup-content textarea {
    resize: vertical;
}

.popup-content input[type="file"]::file-selector-button {
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    cursor: pointer;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin-right: 16px;
    transition: background-color 200ms;
}

.popup-content input[type="file"]::file-selector-button:hover {
    background-color: #f3f4f6;
}

.popup-content input[type="file"]::file-selector-button:active {
    background-color: #e5e7eb;
}

.popup-content button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #fc6505;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.popup-content button[type="submit"]:hover {
    background-color: #f57d1b;
}

.popup-content button[type="submit"]:focus {
    outline: none;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.post {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

@media (max-width: 2500px) {
    .post {
        width: 45%;
    }
}

@media (max-width: 1100px) {
    .post {
        width: 80%;
    }
}

.post-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.post-header h1, .post-header h2, .post-header span {
    flex: 1;
}

.post-header h2 {
    text-align: center;
}

.comment-creator form {
    width: 100%;
}

.comment-creator textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.comment-creator button {
    width: 100%;
    margin-top: 10px;
}

.comments-container {
    width: 100%;
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 20px;
}

.comment {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post button {
    width: 100%;
}

.comment-creator {
    width: 100%;
}

.comment-content {
    width: 100%;
}

.gallery-link, .gallery-link button {
    width: 100%;
}

.comments-container {
    width: 100%;
    padding-top: 10px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.comment {
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.comment:first-child {
    border-top: none;
}

.comment:last-child {
    border-bottom: none;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comment-user {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.comment-timestamp {
    font-size: 14px;
    color: grey;
    margin: 0;
}

.comment p {
    font-size: 16px;
    color: #444;
    margin: 0;
    line-height: 1.5;
    text-align: left;
    text-transform: none;
}

@media (max-width: 1100px) {
    .comment-header h1 {
        font-size: 16px;
    }

    .comment-timestamp {
        font-size: 12px;
    }

    .comment p {
        font-size: 14px;
    }
}

@media (max-width: 1100px) {
    .comment-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .comment-timestamp {
        margin-top: 5px;
    }
}

.buttons-container input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
}

.buttons-container input:focus {
    outline: none;
    -webkit-box-shadow: inset 8px 8px 24px -24px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 8px 8px 24px -24px rgba(66, 68, 90, 1);
    box-shadow: inset 8px 8px 24px -24px rgba(66, 68, 90, 1);
}

.delete-button {
    width: 100%;
    background-color: crimson;
    transition: background-color 0.3s ease-in-out;
}

.delete-button:hover {
    background-color: #e32649;
}

.comment-creator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.comment-form {
    flex: 3;
    display: flex;
    align-items: center;
}

.comment-form textarea {
    flex: 2;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
}

.comment-form button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #fc6505;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.comment-form button:hover {
    background-color: #f57d1b;
}

.comment-form button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #fc6505;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease-in-out;
}

.like-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.like-button {
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.like-counter {
    font-size: 16px;
    margin-top: 5px;
}

@media (max-width: 1100px) {
    .comment-creator {
        flex-direction: column;
    }

    .comment-form, button, .like-container {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
}
}

.comment-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.material-symbols-outlined {
    font-size: 29px;
    color: #000000;
    cursor: pointer;
    transition: color 0.3s ease;
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 48;
}

.liked {
    color: #FF0000;
}

.like-button {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination-list {
    list-style-type: none;
    display: flex;
    gap: 10px;
    padding: 0;
}

.pagination-list li {
    display: inline;
}

.pagination-link {
    padding: 10px 20px;
    background-color: #fc6505;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.pagination-link:hover {
    background-color: #f57d1b;
}

.pagination-link:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-link:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#userSelect {
    width: 200px;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    transition: border-color 0.3s ease;
}

#userSelect:hover {
    border-color: #e3e3e3;
}

#userSelect:focus {
    outline: none;
    border-color: #e3e3e3;
    box-shadow: inset 8px 8px 24px -24px rgba(66, 68, 90, 1);
}

#userSelect option {
    padding: 10px;
    background-color: #f9f9f9;
    color: #333;
}

#userSelect option:hover {
    background-color: #e2e2e2;
}
