* {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background-color: #faf8f4;
    justify-content: center;
    align-items: center;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(204, 204, 204, 1);
    border-bottom: 1px solid rgba(204, 204, 204, 1);
}

.head-container {
    background-color: #f7f3e9;
    position: relative;
    top: 0;
    width: 100vw;
    height: 10vh;
    box-shadow: 0 0 24px 0 rgba(66, 68, 90, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.head-container p {
    margin: 0;
    flex: 0 1 auto;
}

.head-container h1 {
    position: sticky;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}

.buttons-container {
    display: inline-block;
}

.buttons-container form {
    display: inline;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #da4167;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #b73250;
}

button:focus {
    outline: none;
}

.popup {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.7s;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.popup-content input,
.popup-content textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.popup-content input:focus,
.popup-content textarea:focus {
    outline: none;
    -webkit-box-shadow: inset 8px 8px 24px -24px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 8px 8px 24px -24px rgba(66, 68, 90, 1);
    box-shadow: inset 8px 8px 24px -24px rgba(66, 68, 90, 1);
}

.popup-content button {
    width: auto;
    margin-top: 10px;
}

.row-of-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    width: 100%;
}

.post {
    margin: 20px;
    transition: transform 0.5s;
    flex: 1 1 calc(33.333% - 40px);
    max-width: calc(33.333% - 40px);
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    overflow: hidden;
}

.post:hover {
    transform: scale(1.1);
}

.post h2 {
    text-align: center;
}

.post p {
    overflow-wrap: break-word;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

.buttons-container input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.buttons-container input:focus {
    outline: none;
    -webkit-box-shadow: inset 8px 8px 24px -24px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 8px 8px 24px -24px rgba(66, 68, 90, 1);
    box-shadow: inset 8px 8px 24px -24px rgba(66, 68, 90, 1);
}

.popup-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.post-popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 8px;
}

.post-popup-content h2 {
    text-align: center;
}

.post-popup-content p {
    overflow-wrap: break-word;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

.post-popup-content textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
    display: inline-block;
}

.comment-creator {
    width: 100%;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 10px;
}

.comment-creator form {
    align-items: stretch;
    justify-content: space-between;
}

.comment-creator textarea {
    width: 100%;
    resize: none;
}

.comment-creator textarea:focus {
    outline: none;
    -webkit-box-shadow: inset 8px 8px 24px -24px rgba(66, 68, 90, 1);
    -moz-box-shadow: inset 8px 8px 24px -24px rgba(66, 68, 90, 1);
    box-shadow: inset 8px 8px 24px -24px rgba(66, 68, 90, 1);
}

#comment-submit {
    display: inline-block;
    margin-bottom: -10px;
    width: 100%;
    border: none;
    background-color: #da4167;
    transition: background-color 0.3s ease-in-out;
    padding: 10px;
}

#comment-submit:hover {
    background-color: #b73250;
}

#comment-submit:focus {
    outline: none;
}

.comments-container {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.comment {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.comment h1 {
    margin-bottom: 5px;
    font-size: 20px;
}

.comment p {
    font-size: 15px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-user {
    margin: 0;
}

.comment-timestamp {
    margin: 0;
    font-size: 0.9em;
    color: grey;
}

#popup-images {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 5px;
}

#popup-images img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
}

#popup-images img:hover {
    object-fit: contain;
    position: relative;
    transform: scale(2.5);
}

@media (max-width: 768px) {
    .post {
        flex: 1 1 calc(50% - 40px);
        max-width: calc(50% - 40px);
    }
}

@media (max-width: 480px) {
    .post {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

#popup-pdfs {
    margin-top: 10px;
    justify-content: center;
    overflow: hidden;
    height: 100%;
}

#popup-pdfs img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: cover;
    border: none;
    overflow: hidden;
}

#popup-videos {
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}