<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css//index_style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" th:href="@{css//index_style.css}">
    <title>SHH Book</title>
    <script>
        function closePopup() {
            var popup = document.getElementById("post");
            popup.style.visibility = "hidden";
            popup.style.opacity = '0';
        }
        function openPopup() {
            var popup = document.getElementById("post");
            popup.style.visibility = "visible"
            popup.style.opacity = '1';
        }
        function openPostPopup(postElement) {
            var username = postElement.getAttribute('data-username');
            var title = postElement.getAttribute('data-title');
            var description = postElement.getAttribute('data-description');
            var postId = postElement.getAttribute('data-post-id');

            document.getElementById('popup-username').innerText = username;
            document.getElementById('popup-title').innerText = title;
            document.getElementById('popup-description').innerText = description;
            document.getElementById('popup-post-id').value = postId;

            var modal = document.getElementById('post-popup');
            modal.style.display = "block";
        }

        function closePostPopup() {
            var modal = document.getElementById('post-popup');
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            var modal = document.getElementById('post-popup');
            if (event.target === modal) {
                closePostPopup();
            }
            var createPostPopup = document.getElementById('post');
            if (event.target === createPostPopup) {
                closePopup();
            }
        }

    </script>
</head>
<body>

    <div class="head-container">
        <p th:text="'Cześć, ' + ${user} + ' :D'"></p>

        <h1>Smart Hotel & Hostels</h1>
        <div class="buttons-container">

            <form th:action="@{/search}">
                <label>
                    <input name="search_field" autocomplete="off" placeholder="Wyszukaj post...">
                </label>
            </form>

            <form th:if="${can_post == 1}">
                <button type="button" onclick="openPopup()">Wstaw post</button>
            </form>

            <form th:action="@{/logout}">
                <button type="submit">Wyloguj się</button>
            </form>
        </div>
    </div>

    <div th:each="i : ${#numbers.sequence(0, #lists.size(db_posts) - 1)}">
        <div class="row-of-3">
            <div class="post" th:each="post, index : ${db_posts}"
                 th:attr="data-username=${post.username}, data-title=${post.title}, data-description=${post.description}, data-post-id=${post.id}"
                 th:id="'post-' + ${index.index}"
                 onclick="openPostPopup(this)"
                 th:if="${index.index >= i * 3 && index.index < (i + 1) * 3}">
                <p th:text="${post.username}"></p>
                <h2 th:text="${post.title}"></h2>
                <p th:text="${post.description}"></p>
            </div>
        </div>
    </div>

    <div id="post-popup" class="popup-modal">
        <div class="post-popup-content">
            <p id="popup-username"></p>
            <h2 id="popup-title"></h2>
            <p id="popup-description"></p>
            <div class="comment-creator">
                <form th:action="@{/comment}" method="post" th:modelAttribute="comments">
                    <input type="hidden" id="popup-post-id" name="post_id">
                    <textarea name="comment_content" rows="6" placeholder="Dodaj komentarz..."></textarea>
                    <button type="submit" id="comment-submit">Opublikuj</button>
                </form>
            </div>
            <hr>
        </div>
    </div>

    <div class="popup" id="post">
        <div class="popup-content">
            <h2>Utwórz wpis</h2>
            <form th:action="@{/post}" method="post" th:modelAttribute="posts">
                <input type="text" name="title" placeholder="Tytuł" required>
                <textarea name="description" rows="15" placeholder="Co nowego?" required></textarea>
                <button type="submit">Utwórz</button>
                <button type="button" onclick="closePopup()">Zamknij</button>
            </form>
        </div>
    </div>


</body>
</html>