<!DOCTYPE html>
<html lang="pl">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{css//index_style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" th:href="@{css//index_style.css}">
    <title>Smart News</title>
    <script>
        function closePopup() {
            var popup = document.getElementById("post");
            popup.style.visibility = "hidden";
            popup.style.opacity = '0';
        }
        function openPopup() {
            var popup = document.getElementById("post");
            popup.style.visibility = "visible"
            popup.style.opacity = '1';
            console.log("hej1");
        }

        window.onclick = function(event) {
            var createPostPopup = document.getElementById('post');
            if (event.target === createPostPopup) {
                closePopup();
            }
        }

        document.addEventListener("DOMContentLoaded", function() {
            function setupGalleryLink(buttonElement, galleryLink) {
                if (!galleryLink.startsWith('http://') && !galleryLink.startsWith('https://')) {
                    galleryLink = 'https://' + galleryLink;
                }
                buttonElement.innerText = 'Zobacz zdjęcia!';
                buttonElement.onclick = function() {
                    window.open(galleryLink, '_blank');
                };
            }

            var buttons = document.querySelectorAll('.gallery-link button');
            buttons.forEach(function(button) {
                var galleryLink = button.getAttribute('data-gallery-link');
                if (galleryLink) {
                    setupGalleryLink(button, galleryLink);
                }
            });
        });

        function toggleComments(postId) {
            var commentsContainer = document.getElementById('comments-' + postId);
            if (commentsContainer.style.display === 'block') {
                commentsContainer.style.display = 'none';
                document.getElementById('comment-button-' + postId).innerText = "Pokaż komentarze";
            } else {
                commentsContainer.style.display = 'block';
                document.getElementById('comment-button-' + postId).innerText = "Ukryj komentarze";
            }
        }
    </script>
</head>
<body>

    <div class="head-container">
        <h1>Smart News</h1>
        <div class="buttons-container">
            <form th:action="@{/search}">
                <label>
                    <input name="search_field" autocomplete="off" placeholder="Wyszukaj post...">
                </label>
            </form>

            <form th:if="${can_post == 1}">
                <button type="button" onclick="openPopup()">Wstaw post</button>
            </form>

            <form th:action="@{/logout}">
                <button type="submit">Wyloguj się</button>
            </form>
        </div>
    </div>

    <div class="background-overlay"></div>

    <div class="posts-area">
        <div th:each="post : ${db_posts}" class="post">
            <!-- Naglowek -->
            <div class="post-header">
                <h1 class="post-user" th:text="${post.username}"></h1>
                <h2 th:text="${post.title}"></h2>
                <span class="post-timestamp" th:text="${post.created_at}"></span>
            </div>
            <!-- To co ma w sobie ogloszenie -->
            <div class="post-description" th:if="${post.show_desc != null}">
                <h3 th:text="${post.description}"></h3>
            </div>

            <div th:each="file : ${#strings.arraySplit(post.files_path, ',')}">
                <img th:if="${file.endsWith('.pdf')}" th:src="${post.thumbnail_url}" alt="PDF Thumbnail">
                <img th:if="${file.endsWith('.jpg') || file.endsWith('.png')}" th:src="${file}" alt="Image">
            </div>

            <div th:if="${post.gallery_link != null && !post.gallery_link.isEmpty()}" class="gallery-link">
                <button th:id="|galleryButton-${post.id}|" th:data-gallery-link="${post.gallery_link}"></button>
            </div>

            <!-- Utworz komentarz -->
            <div class="comment-creator">
                <form action="/comment" method="post">
                    <input type="hidden" name="post_id" th:value="${post.id}">
                    <textarea name="comment_content" rows="6" placeholder="Dodaj komentarz..."></textarea>
                    <button style='width: 100%;' type="submit" id="comment-submit">Opublikuj</button>
                </form>
            </div>

            <!-- Pokaz komentarze -->
            <button th:if="${post.comments.size() > 0}" th:attr="onclick=|toggleComments(${post.id})|" th:id="|comment-button-${post.id}|">Pokaż komentarze</button>

            <!-- Komentarze -->
            <div th:id="|comments-${post.id}|" class="comments-container" style="display: none;">
                <div th:each="comment : ${post.comments}" class="comment">
                    <div class="comment-header">
                        <h1 class="comment-user" th:text="${comment.user}"></h1>
                        <span class="comment-timestamp" th:text="${comment.created_at}"></span>
                    </div>
                    <p th:text="${comment.comment_content}"></p>
                </div>
            </div>
            <!-- Usuwanie posta -->
            <form th:if="${can_post == 1}" th:action="@{/delete/{id}(id=${post.id})}" method="post" style="display:inline; width: 100%;">
                <button type="submit" class="delete-button" onclick="return confirm('Czy na pewno chcesz usunąć ogłoszenie?');">Usuń ogłoszenie</button>
            </form>
        </div>
    </div>


    <div class="popup" id="post">
        <div class="popup-content">
            <h2>Utwórz wpis</h2>
            <form th:action="@{/post}" method="post" th:modelAttribute="posts" enctype="multipart/form-data">
                <input type="text" name="title" placeholder="Tytuł" autocomplete="off" required>
                <textarea name="description" rows="15" placeholder="Krótki opis/Słowa kluczowe" autocomplete="off" required></textarea>
                <label for="show_desc" class="checkbox-container"><input type="checkbox" name="show_desc" id="show_desc">Wyświetlać opis?</label>
                <input type="text" name="gallery_link" placeholder="Link do galerii" autocomplete="off">
                <input type="file" class="multimedia" name="files" accept="image/*, video/*, .pdf" multiple>
                <button type="submit">Utwórz</button>
                <button type="button" onclick="closePopup()">Zamknij</button>
            </form>
        </div>
    </div>

</body>
</html>